@use '@abstracts' as *;

.about-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	min-height: 40vh;
}

.collapses {
	display: flex;
	flex-direction: column;
	gap: 30px;

	max-width: 1023px;
}

@media screen and (min-width: $small-screen) {
	.collapses {
		gap: 20px;
	}
}
