$primary: #ff6060;
$star-placeholder: #e3e3e3;
$profile-picture-placeholder: #c4c4c4;

$bg: #ffffff;
$main-bg: #f6f6f6;
$bg-footer: #000000;
$bg-collapse-content: #f6f6f645;

$text: #000000;
$text-footer: #ffffff;
$text-collapse-header: #ffffff;
$text-collapse-content: #000000;
